@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

$text-white:  #BFC5CC;
$text-gray:   #65737F;
$gray:        #2B303B;
$gray-medium: #232830;
$gray-dark:   #1C1F26;

$orange:      #D08770;
$red:         #BF616A;
$seafoam:     #96B5B4;
$aqua:        #70A8B8;
$green:       #A4CC8D;
$yellow:      #F4D988;
$purple:      #B98EB1;

.sidebar-pane{
  background: $gray-medium !important;
  color: $text-white !important;
}

body /deep/{
  .vbox {
    display: flex;
    flex-direction: column !important;
    position: relative;
    background: $gray;
  }
  .webkit-html-tag {
    color: $text-white;

    span{
      color: $red;

      &.webkit-html-attribute{
        color: $text-white;
      }

      &.webkit-html-attribute-name {
        color: $orange;
      }

      &.webkit-html-attribute-value{
        color: $green;
      }
    }
  }

  .webkit-html-resource-link{
    color: $green;
  }

  .webkit-html-comment{
    color: $text-gray;
  }

  .platform-mac{
    color: $text-white;

    .monospace,
    .source-code{
      font-size: 12px !important;
      line-height: 14px !important;
    }
  }

  .webkit-html-entity-value{
    font-style: italic;
    background-color: transparent;
  }

  .cm-css-property{
    color: $text-white;
  }
}

.styles-section{
  .simple-selector{
    &.selector-matches{
      color: $orange !important;
    }
  }
}

li {
  margin-left: -13px;
  margin-bottom: 3px;
  line-height: 1.3em;
}


