$text-white:  #bfc5cc;
$text-gray:   #65737f;
$gray:        #2b303b;
$gray-medium: #232830;
$gray-dark:   #1c1f26;

$orange:      #de935f;
$red:         #cc6666;
$seafoam:     #96b5b4;
$aqua:        #70a8b8;
$green:       #a4cc8d;
$yellow:      #f4d988;
$purple:      #b08ba9;
