.outline-disclosure li.selected .selection {
  display: block;
  background-color: lighten($gray, 5%);

  &:before{
    background: transparent !important;
  }
}
@include deep{
  .outline-disclosure{
    ol{
      // -webkit-padding-start: 0px;
    }
    li{
      // padding: 0;
      // margin: 0;
      &.parent{
        margin-left: 0;
        &::before{
          @extend %iconfont;
          @extend %icon-keyboard-arrow-right;
          background-color: transparent !important;
          -webkit-mask-image: none !important;
          color: $text-white;
          font-size: 14px;
          @include transform(scale(1.4));
          position: relative !important;
          left: -5px !important;
        }
        &.expanded{
          &::before {
            @extend %icon-keyboard-arrow-down;
          }
        }
      }
    }
    // ol:focus li.parent.selected{
    //   &::before {
    //     @extend %iconfont;
    //     @extend %icon-keyboard-arrow-down;
    //     background-color: transparent !important;
    //     -webkit-mask-image: none !important;
    //     color: $text-white;
    //     font-size: 17px !important;
    //     display: inline-block !important;
    //     position: relative !important;
    //     left: -5px !important;
    //     top: -2px !important;
    //   }
    // }
  }
}

// .outline-disclosure .elements-tree-outline li.parent{
//   @extend .icon-keyboard-arrow-right;
//   &:before{
//     -webkit-mask-image: none;
//     color: $text-white;
//     background: transparent;
//   }
//
//   &.expanded{
//     @extend .icon-keyboard-arrow-down;
//     color: $text-white;
//
//     &:before{
//       -webkit-mask-image: none;
//       color: $text-white;
//       background: transparent;
//     }
//   }
// }

#elements-crumbs {
  flex: 0 0 27px !important;
  border-top: 1px solid $gray-dark !important;
  background: $gray-dark !important;
}

.crumbs .crumb.selected, .crumbs .crumb.selected:hover {
  background-color: $aqua !important;
}

@include deep{
  .webkit-html-pseudo-element {
    color: $yellow !important;
  }
}
